/* Estilos básicos */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: #f0f0f0;
  padding: 10px;
}
.search-input-container {
  padding-left: 290px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.content {
  display: flex;
  flex: 1;
}

.side-panel {
  width: 250px;
  background-color: #e0e0e0;
  padding: 20px;
}

.empresa-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
